CONFIG_AXERA_BUILDIN_PRVDRV=y
CONFIG_AXERA_BUILDIN_PRVDRV_CMM=y
CONFIG_AXERA_BUILDIN_PRVDRV_SYS=y
CONFIG_AXERA_BUILDIN_PRVDRV_POOL=y
CONFIG_AXERA_BUILDIN_PRVDRV_BASE=y
CONFIG_AXERA_BUILDIN_PRVDRV_MIPI_RX=y
CONFIG_AXERA_BUILDIN_PRVDRV_NPU=y
CONFIG_AXERA_BUILDIN_PRVDRV_VO=y
CONFIG_AXERA_BUILDIN_PRVDRV_IVPS=y
CONFIG_AXERA_BUILDIN_PRVDRV_VPP=y
CONFIG_AXERA_BUILDIN_PRVDRV_GDC=y
CONFIG_AXERA_BUILDIN_PRVDRV_TDP=y
CONFIG_AXERA_BUILDIN_PRVDRV_ISP=y
CONFIG_AXERA_BUILDIN_PRVDRV_MIPI_SWITCH=y
CONFIG_AXERA_BUILDIN_PRVDRV_VCODEC=y
CONFIG_AXERA_BUILDIN_PRVDRV_JENC=y
CONFIG_AXERA_BUILDIN_PRVDRV_VENC=y
CONFIG_AXERA_BUILDIN_PRVDRV_VDEC=y
CONFIG_AXERA_BUILDIN_PRVDRV_IVE=y
CONFIG_AXERA_BUILDIN_PRVDRV_AVS=y
CONFIG_AXERA_BUILDIN_PRVDRV_DDR_DFS=y
CONFIG_AXERA_BUILDIN_PRVDRV_AUDIO=y
CONFIG_AXERA_BUILDIN_PRVDRV_VFB=y
