// SPDX-License-Identifier: GPL-2.0
/**************************************************************************************************
 *
 * Copyright (c) 2019-2024 Axera Semiconductor Co., Ltd. All Rights Reserved.
 *
 * This dts file is the property of Axera Semiconductor Co., Ltd. and
 * may not be copied or distributed in any isomorphic form without the prior
 * written consent of Axera Semiconductor Co., Ltd.
 *
 **************************************************************************************************/

/dts-v1/;
#include "AX620E.dtsi"
/ {
	model = "MaixCAM2";
	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0xC0000000>;
	};
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		ramoops_mem@48000000 {
			compatible = "ramoops";
			reg = <0x0 0x48000000 0x0 0xf0000>;
			record-size = <0x40000>;
			console-size = <0x80000>;
			ftrace-size = <0x20000>;
		};
		axera_memory_dump@0 {
			compatible = "axera_memory_dump";
			reg = <0x0 0x480f0000 0x0 0x3000>;
			dump_ranges = <0x0 0x40001000 0x1 0x00000000>;
			no-map;
		};
		atf_reserved: atf_memreserved {
			reg = <ATF_RESERVED_START_HI ATF_RESERVED_START_LO ATF_RESERVED_SIZE_HI ATF_RESERVED_SIZE_LO>;
			no-map;
		};
#ifdef OPTEE_BOOT
		optee_reserved: optee_memserved {
			reg = <OPTEE_RESERVED_START_HI OPTEE_RESERVED_START_LO OPTEE_RESERVED_SIZE_HI OPTEE_RESERVED_SIZE_LO>;
			no-map;
		};
#endif
		axera_ddr_retrain@0 {
			compatible = "axera_ddr_retrain";
			reg = <0x0 0x40000000 0x0 0x1000>;
		};
	};

	chosen {
		bootargs = BOOTARGS;
	};

	dummy_codec: dummy-codec {
		compatible = "dummy-codec";
		#sound-dai-cells = <0>;
	};

	sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,name = "Axera Audio";
		simple-audio-card,widgets =
			"Microphone", "Mic Jack";
		simple-audio-card,routing =
			"AMIC", "Mic Jack";
		#address-cells = <1>;
		#size-cells = <0>;
	/*	simple-audio-card,dai-link@0 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s_mst0>;
			};
			codec {
				sound-dai = <&es7243l>;
				system-clock-frequency = <12288000>;
			};
		};
		simple-audio-card,dai-link@1 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s_mst0>;
			};
			codec {
				sound-dai = <&es8156>;
				system-clock-frequency = <12288000>;
			};
		};
		simple-audio-card,dai-link@0 {
			format = "i2s";
			bitclock-master = <&codec_m2>;
			frame-master = <&codec_m2>;
			cpu {
				sound-dai = <&i2s_slv0>;
			};
			codec_m2: codec {
				sound-dai = <&es7243l>;
				system-clock-frequency = <12288000>;
			};
		};
		simple-audio-card,dai-link@1 {
			format = "i2s";
			bitclock-master = <&codec_m3>;
			frame-master = <&codec_m3>;
			cpu {
				sound-dai = <&i2s_slv0>;
			};
			codec_m3: codec {
				sound-dai = <&es8156>;
				system-clock-frequency = <12288000>;
			};
		};
		simple-audio-card,dai-link@0 {
			format = "dsp_b";
			cpu {
				sound-dai = <&i2s_tdm_mst0>;
				dai-tdm-slot-num = <2>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-rx-mask = <1 1>;
			};
			codec {
				sound-dai = <&es7243l>;
				system-clock-frequency = <12288000>;
			};
		};
		simple-audio-card,dai-link@0 {
			format = "dsp_b";
			bitclock-master = <&codec_m5>;
			frame-master = <&codec_m5>;
			cpu {
				sound-dai = <&i2s_tdm_slv0>;
				dai-tdm-slot-num = <2>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-rx-mask = <1 1>;
			};
			codec_m5: codec {
				sound-dai = <&es7243l>;
				system-clock-frequency = <12288000>;
			};
		};*/
		simple-audio-card,dai-link@0 {
			format = "i2s";
			bitclock-master = <&codec_m6>;
			frame-master = <&codec_m6>;
			capture-only;
			cpu {
				sound-dai = <&i2s_inner_slv0>;
			};
			codec_m6: codec {
				sound-dai = <&audio_codec>;
				system-clock-frequency = <12288000>;
			};
		};
		simple-audio-card,dai-link@1 {
			format = "i2s";
			playback-only;
			cpu {
				sound-dai = <&i2s_inner_mst0>;
			};
			codec {
				sound-dai = <&audio_codec>;
				system-clock-frequency = <12288000>;
			};
		};
	};

	vfb0: vfb@0 {
		compatible = "axera,vfb";
		id = <0>;
		width = <480>;
		height = <640>;
		bpp = <32>;
		buf-num = <2>;
		status = "okay";
	};

	vfb1: vfb@1 {
		compatible = "axera,vfb";
		id = <1>;
		width = <1920>;
		height = <1080>;
		bpp = <32>;
		buf-num = <2>;
		status = "disable";
	};

	vfb2: vfb@2 {
		compatible = "axera,vfb";
		id = <2>;
		width = <64>;
		height = <64>;
		bpp = <32>;
		buf-num = <1>;
		cursor;
		status = "okay";
	};

	axera_logctl {
		compatible = "axera,logctl";
		config = "/etc/ax_syslog.conf";
		logstate = /bits/ 8 <1 1>;
		loglevel = /bits/ 8 <4 4>;
	};

	extcon_usb: extcon_usb {
		compatible = "linux,extcon-usb-gpio";
		id-gpio = <&ax_gpio1 13 0>; /* GPIO1_A13 */
		status = "okay";
	};
	leds {
		status = "okay";
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&vi_d6_gpio0_a6_pins>;
        led-heartbeat {
            label = "sys-heartbeat";
            gpios = <&ax_gpio0 6 0>;
            linux,default-trigger = "activity";
            default-state = "activity";
			status = "okay";
        };
	};

	rotary@0 {
		status = "okay";
		compatible = "rotary-encoder";
		pinctrl-names = "default";
		pinctrl-0 = <&rgmii_rxd2_gpio1_a16_pins>,
					<&rgmii_rxd3_gpio1_a17_pins>;
		gpios = <&ax_gpio1 16 1>, <&ax_gpio1 17 0>;
		linux,axis = <0>; /* REL_X */
		rotary-encoder,encoding = "gray";
		rotary-encoder,relative-axis;
		rotary-encoder,steps-per-period = <4>;
	};

	gpio_keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio3_a2_pins>;
		// autorepeat;
		wakeup-source;
		status = "okay";

		key-user {
			label = "User Key";
			linux,code = <0x1af>;
			debounce-interval = <10>;
			gpios = <&ax_gpio3 2 1>;
		};
	};
	aic_bsp {
		compatible = "aicsemi,aic_bsp";
		reset-gpio = <&ax_gpio1 15 0>; // GPIO1_A15
		pinctrl-names = "default";
		pinctrl-gpios = <&rgmii_rxclk_gpio1_a15_pins>;
		status = "okay";
	};
};

&pwm0 {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&deb_gpio_lp {
	lp-status = <11 1>; /* use db_gpio11 as wakeup source */
	status = "okay";
};

&bwlimiter {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	rtc: bm8563@51 {
		compatible = "nxp,pcf8563";  // BM8563 通常与 PCF8563 驱动兼容
		reg = <0x51>;               // I2C 地址（0x51）
		status = "okay";
	};

	cw2015@62 {
			compatible = "cellwise,cw2015";
			reg = <0x62>;
			cellwise,battery-profile = /bits/ 8 <
					0x15 0x39 0x5E 0x59 0x56 0x55 0x52 0x52
					0x51 0x54 0x51 0x47 0x3E 0x34 0x2B 0x26
					0x1E 0x16 0x13 0x1F 0x29 0x41 0x4F 0x4E
					0x71 0x9E 0x0A 0x3E 0x25 0x45 0x58 0x5F
					0x5A 0x62 0x68 0x6E 0x4A 0x1D 0x83 0x2E
					0x09 0x57 0x14 0x41 0x77 0x98 0xAC 0x3C
					0x4E 0x7B 0x99 0xAF 0x80 0xFF 0xFF 0xCB
					0x2F 0x00 0x64 0xA5 0xB5 0xC1 0x46 0xAE
					>;
			cellwise,monitor-interval-ms = <5000>;
			// monitored-battery = <&battery>;
			// power-supplies = <&charger>;
			status = "okay";
	};

	hynitron: hynitron@6a {
		compatible = "hynitron,hyn_ts", "hyn,7xx";
		reg = <0x6a>;
		irq-gpio = <&ax_gpio1 12 0>;
		reset-gpio = <&ax_gpio1 23 0>;
		max-touch-number = <5>;
		display-coords = <0 0 480 640>;
		pos-swap = <0>;
		posx-reverse = <1>;
		posy-reverse = <1>;
		status = "okay";
		wakeup-source;
	};

/*
	lsm6ds3@6b {
		compatible = "st,lsm6dsox";
		reg = <0x6b>;
		status = "okay";
	};
*/
};

&i2c6 {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	/delete-property/ pinctrl-1;
	/delete-property/ scl-gpio;
	/delete-property/ sda-gpio;
	status = "okay";
};

&i2c7 {
	status = "okay";
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	/delete-property/ pinctrl-1;
	/delete-property/ scl-gpio;
	/delete-property/ sda-gpio;
	#address-cells = <0x1>;
	#size-cells = <0x0>;
};

&i2c_slv0 {
	status = "okay";
	#address-cells = <0x1>;
	#size-cells = <0x0>;
	i2c_slave_eeprom: i2c_slave_eeprom@55 {
		compatible = "axera,slave-24c02";
		reg = <0x40000055>;
		status = "okay";
	};
};

&ax_uart0 {
	status = "okay";
};

&ax_uart1 {
	status = "okay";
};

&ax_uart2 {
	status = "okay";
};

&ax_uart3 {
	status = "okay";
};

&ax_uart4 {
	status = "okay";
};

&ax_uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&emac_ptp_pps0_uart5_cts_pins>,
				<&emac_ptp_pps1_uart5_rts_pins>,
				<&emac_ptp_pps2_uart5_txd_pins>,
				<&emac_ptp_pps3_uart5_rxd_pins>;
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&emmc{
	max-frequency = <200000000>;
	sdhci-caps-mask = <0x2 0x03200000>;
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	disable-wp;
	cap-mmc-hw-reset;
	/* AX630C use GPIO2_A23 */
	hw-reset = <&ax_gpio2 23 0>;
	/* AX620Q use GPIO1_A0 */
	/* hw-reset = <&ax_gpio1 0 0>; */
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	cdns,phy-input-delay-sd-highspeed = <2>;
	cdns,phy-input-delay-legacy = <4>;
	cdns,phy-input-delay-sd-uhs-sdr12 = <1>;
	cdns,phy-input-delay-sd-uhs-sdr25 = <2>;
	cdns,phy-input-delay-sd-uhs-sdr50 = <1>;
	cdns,phy-input-delay-sd-uhs-ddr50 = <2>;
	cdns,phy-input-delay-mmc-legacy = <1>;
	cdns,phy-input-delay-mmc-highspeed = <2>;
	cdns,phy-input-delay-mmc-ddr = <2>;
	cdns,phy-dll-delay-sdclk = <45>;
	cdns,phy-dll-delay-sdclk-hsmmc = <31>;
	cdns,phy-dll-delay-strobe = <18>;
	fixed-emmc-driver-type = <4>;
	status = "okay";
};

&sd{
	sdhci-caps-mask = <0x7 0x00200000>;
	bus-width = <4>;
	max-frequency = <200000000>;
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-ddr50;
	sd-uhs-sdr104;
	no-sdio;
	no-mmc;
	disable-wp;
#if 1
	broken-cd;
#else
	cd-gpios = <&ax_gpio1 11 0>;
	cd-inverted;
	cd-debounce-delay-ms = <300>;
#endif

	cdns,phy-input-delay-sd-highspeed = <2>;
	cdns,phy-input-delay-legacy = <3>;
	cdns,phy-input-delay-sd-uhs-sdr12 = <3>;
	cdns,phy-input-delay-sd-uhs-sdr25 = <2>;
	cdns,phy-input-delay-sd-uhs-sdr50 = <1>;
	cdns,phy-input-delay-sd-uhs-ddr50 = <1>;
	cdns,phy-dll-delay-sdclk = <0>;

	status = "okay";
};

&sdio{
	sdhci-caps-mask = <0x7 0x00200000>;
	bus-width = <4>;
	max-frequency = <200000000>;
	cap-sd-highspeed;
	sd-uhs-sdr25;
	sd-uhs-sdr12;
	sd-uhs-sdr50;
	sd-uhs-ddr50;
	//sd-uhs-sdr104;
	no-1-8-v;
	no-sd;
	no-mmc;
	disable-wp;
	broken-cd;
	cdns,phy-input-delay-sd-highspeed = <4>;
	cdns,phy-input-delay-legacy = <3>;
	cdns,phy-input-delay-sd-uhs-sdr12 = <3>;
	cdns,phy-input-delay-sd-uhs-sdr25 = <2>;
	cdns,phy-input-delay-sd-uhs-sdr50 = <1>;
	cdns,phy-input-delay-sd-uhs-ddr50 = <1>;
	cdns,phy-dll-delay-sdclk = <0>;

	status = "okay";
};

&usb {
	status = "okay";
};

&usb2 {
	dr_mode = "otg";
	extcon = <&extcon_usb>;
};

&spi0 {
       status = "disabled";
       spidev_user@0 {
               status = "okay";
               compatible = "axera,spidev";
               reg = <0>;
               spi-max-frequency = <26000000>;
       };
};

&spi1 {
       status = "okay";
	   /delete-property/ cs-gpios;
       spidev_user@0 {
               status = "okay";
               compatible = "axera,spidev";
               reg = <0>;
               spi-max-frequency = <26000000>;
       };
};

&spi2 {
       status = "okay";
	   /delete-property/ cs-gpios;
       spidev_user@1 {
               status = "okay";
               compatible = "axera,spidev";
               reg = <1>;
               spi-max-frequency = <26000000>;
       };
	   spidev_user@3 {
				status = "okay";
				compatible = "axera,spidev";
				reg = <3>;
				spi-max-frequency = <26000000>;
		};
};

&spi_slv {
       status = "disabled";
       stream-tx-gpio = <&ax_gpio2 13 0>;
       stream-rx-gpio = <&ax_gpio2 14 0>;
};

&spi4 {
	status = "okay";
	spi_nand@0 {
		compatible = "spi-nand";
		reg = <0>;
		rx-sample-delay-ns = <4>;
		spi-max-frequency = <50000000>;
	};
	/*spi_flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
	};*/
};

&audio_codec {
	gpio-mic-rp = <&ax_gpio1 7 0>; /* GPIO1_A7 */
	gpio-mic-rn = <&ax_gpio1 6 0>; /* GPIO1_A6 */
	gpio-mic-ln = <&ax_gpio1 5 0>; /* GPIO1_A5 */
	gpio-mic-lp = <&ax_gpio1 4 0>; /* GPIO1_A4 */
	gpio-pa-speaker = <&ax_gpio1 17 0>; /* GPIO1_A17 */
	status = "okay";
};

&i2s_inner_mst0 {
	status = "okay";
	/*i2s - pad0*/
	i2s-m-aec-cycle-sel = <0>;    /*23-22*/
	i2s-m-aec-sclk-sel = <0>;     /*21*/
	i2s-inner-codec-en = <1>;     /*20*/
	i2s-exter-codec-en = <0>;     /*19*/
	i2s-m-exter-codec-en = <0>;   /*18*/
	i2s-exter-codec-mst = <0>;    /*17*/
	i2s-m-exter-codec-mst = <0>;  /*16*/
	iis-out-tdm-en = <0>;         /*15*/
	iis-m-out-tdm-en = <0>;       /*14*/
	i2s-m-rx0-sel = <0>;          /*13*/
	i2s-m-rx1-sel = <0>;          /*12-11*/
	i2s-s-rx0-sel = <0>;          /*10-9*/
	i2s-s-rx1-sel = <2>;          /*8-7*/
	i2s-s-sclk-sel = <0>;         /*6-5*/
	tdm-m-rx-sel = <0>;           /*4-3*/
	tdm-s-rx-sel = <0>;           /*2-1*/
	tdm-s-sclk-sel = <0>;         /*0*/
};

&i2s_inner_slv0 {
	status = "okay";
	/*i2s - pad0*/
	i2s-m-aec-cycle-sel = <0>;    /*23-22*/
	i2s-m-aec-sclk-sel = <0>;     /*21*/
	i2s-inner-codec-en = <1>;     /*20*/
	i2s-exter-codec-en = <0>;     /*19*/
	i2s-m-exter-codec-en = <0>;   /*18*/
	i2s-exter-codec-mst = <0>;    /*17*/
	i2s-m-exter-codec-mst = <0>;  /*16*/
	iis-out-tdm-en = <0>;         /*15*/
	iis-m-out-tdm-en = <0>;       /*14*/
	i2s-m-rx0-sel = <0>;          /*13*/
	i2s-m-rx1-sel = <0>;          /*12-11*/
	i2s-s-rx0-sel = <0>;          /*10-9*/
	i2s-s-rx1-sel = <2>;          /*8-7*/
	i2s-s-sclk-sel = <0>;         /*6-5*/
	tdm-m-rx-sel = <0>;           /*4-3*/
	tdm-s-rx-sel = <0>;           /*2-1*/
	tdm-s-sclk-sel = <0>;         /*0*/
};

&i2s_mst0 {
	status = "disabled";
	/*i2s - pad0*/
	i2s-m-aec-cycle-sel = <0>;    /*23-22*/
	i2s-m-aec-sclk-sel = <0>;     /*21*/
	i2s-inner-codec-en = <0>;     /*20*/
	i2s-exter-codec-en = <1>;     /*19*/
	i2s-m-exter-codec-en = <0>;   /*18*/
	i2s-exter-codec-mst = <1>;    /*17*/
	i2s-m-exter-codec-mst = <0>;  /*16*/
	iis-out-tdm-en = <0>;         /*15*/
	iis-m-out-tdm-en = <0>;       /*14*/
	i2s-m-rx0-sel = <0>;          /*13*/
	i2s-m-rx1-sel = <2>;          /*12-11*/
	i2s-s-rx0-sel = <0>;          /*10-9*/
	i2s-s-rx1-sel = <0>;          /*8-7*/
	i2s-s-sclk-sel = <0>;         /*6-5*/
	tdm-m-rx-sel = <0>;           /*4-3*/
	tdm-s-rx-sel = <0>;           /*2-1*/
	tdm-s-sclk-sel = <0>;         /*0*/
};

&i2s_slv0 {
	status = "disabled";
	/*i2s - pad0*/
	i2s-m-aec-cycle-sel = <0>;    /*23-22*/
	i2s-m-aec-sclk-sel = <0>;     /*21*/
	i2s-inner-codec-en = <0>;     /*20*/
	i2s-exter-codec-en = <1>;     /*19*/
	i2s-m-exter-codec-en = <0>;   /*18*/
	i2s-exter-codec-mst = <0>;    /*17*/
	i2s-m-exter-codec-mst = <0>;  /*16*/
	iis-out-tdm-en = <0>;         /*15*/
	iis-m-out-tdm-en = <0>;       /*14*/
	i2s-m-rx0-sel = <0>;          /*13*/
	i2s-m-rx1-sel = <0>;          /*12-11*/
	i2s-s-rx0-sel = <3>;          /*10-9*/
	i2s-s-rx1-sel = <0>;          /*8-7*/
	i2s-s-sclk-sel = <1>;         /*6-5*/
	tdm-m-rx-sel = <0>;           /*4-3*/
	tdm-s-rx-sel = <0>;           /*2-1*/
	tdm-s-sclk-sel = <0>;         /*0*/
};

&i2s_tdm_mst0 {
	status = "disabled";
	/*i2s - pad0*/
	i2s-m-aec-cycle-sel = <0>;    /*23-22*/
	i2s-m-aec-sclk-sel = <0>;     /*21*/
	i2s-inner-codec-en = <0>;     /*20*/
	i2s-exter-codec-en = <1>;     /*19*/
	i2s-m-exter-codec-en = <0>;   /*18*/
	i2s-exter-codec-mst = <1>;    /*17*/
	i2s-m-exter-codec-mst = <0>;  /*16*/
	iis-out-tdm-en = <1>;         /*15*/
	iis-m-out-tdm-en = <0>;       /*14*/
	i2s-m-rx0-sel = <0>;          /*13*/
	i2s-m-rx1-sel = <0>;          /*12-11*/
	i2s-s-rx0-sel = <0>;          /*10-9*/
	i2s-s-rx1-sel = <0>;          /*8-7*/
	i2s-s-sclk-sel = <0>;         /*6-5*/
	tdm-m-rx-sel = <0>;           /*4-3*/
	tdm-s-rx-sel = <0>;           /*2-1*/
	tdm-s-sclk-sel = <0>;         /*0*/
};

&i2s_tdm_slv0 {
	status = "disabled";
	/*i2s - pad0*/
	i2s-m-aec-cycle-sel = <0>;    /*23-22*/
	i2s-m-aec-sclk-sel = <0>;     /*21*/
	i2s-inner-codec-en = <0>;     /*20*/
	i2s-exter-codec-en = <1>;     /*19*/
	i2s-m-exter-codec-en = <0>;   /*18*/
	i2s-exter-codec-mst = <0>;    /*17*/
	i2s-m-exter-codec-mst = <0>;  /*16*/
	iis-out-tdm-en = <0>;         /*15*/
	iis-m-out-tdm-en = <0>;       /*14*/
	i2s-m-rx0-sel = <0>;          /*13*/
	i2s-m-rx1-sel = <0>;          /*12-11*/
	i2s-s-rx0-sel = <0>;          /*10-9*/
	i2s-s-rx1-sel = <0>;          /*8-7*/
	i2s-s-sclk-sel = <0>;         /*6-5*/
	tdm-m-rx-sel = <0>;           /*4-3*/
	tdm-s-rx-sel = <0>;           /*2-1*/
	tdm-s-sclk-sel = <0>;         /*0*/
};

#if 0
&eth0 {
	status = "okay";

	phy-handle = <&phy0>;
	phy-mode = "rgmii";
	phy-rst-gpio = <&ax_gpio1 27 0>; /* GPIO1_A27 */

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy0: jl2xxx-phy@1 {
			compatible = "ethernet-phy-id937c.4030";
			jl2xxx,led-enable = <JL2XXX_LED_CTRL_EN>;
			jl2xxx,led-mode = <JL2XXX_CFG_LED_MODE>;
			jl2xxx,led-period = <JL2XXX_GLOBAL_PERIOD_MS>;
			jl2xxx,led-on = <JL2XXX_GLOBAL_ON_MS>;
			jl2xxx,led-polarity = <JL2XXX_LED_POLARITY>;
			jl2xxx,patch-enable = <JL2XXX_PATCH_CTRL_EN>;
			jl2xxx,rgmii-enable = <JL2XXX_RGMII_CTRL_EN>;
			jl2xxx,rgmii-tx-delay = <JL2XXX_RGMII_TX_DLY_2NS>;
			jl2xxx,rgmii-rx-delay = <JL2XXX_RGMII_RX_DLY_2NS>;
			jl2xxx,clk-enable = <JL2XXX_CLK_CTRL_EN>;
			jl2xxx,fld-enable = <JL2XXX_FLD_CTRL_EN>;
			jl2xxx,fld-delay = <JL2XXX_FLD_DELAY>;
			jl2xxx,wol-enable = <JL2XXX_WOL_CTRL_EN>;
			jl2xxx,interrupt-enable = <JL2XXX_INTR_CTRL_EN>;
			jl2xxx,downshift-enable = <JL2XXX_DSFT_CTRL_EN>;
			jl2xxx,downshift-count = <JL2XXX_DSFT_AN_CNT>;
			jl2xxx,work_mode-enable = <JL2XXX_WORK_MODE_CTRL_EN>;
			jl2xxx,work_mode-mode = <JL2XXX_WOEK_MODE_MODE>;
			jl2xxx,lpbk-enable = <JL2XXX_LPBK_CTRL_EN>;
			jl2xxx,lpbk-mode = <JL2XXX_LPBK_MODE>;
			jl2xxx,slew_rate-enable = <JL2XXX_SLEW_RATE_CTRL_EN>;
			jl2xxx,rxc_out-enable = <JL2XXX_RXC_OUT_CTRL_EN>;
			reg = <1>;
		};
	};
};
#else
&eth0 {
	status = "okay";

	phy-handle = <&phy0>;
	phy-mode = "rmii";
	axera-ephy,led0-mode = <EPHY_LED_SPEED>;
	axera-ephy,led0-enable;
	axera-ephy,led1-mode = <EPHY_LED_LINK>;
	axera-ephy,led1-enable;
	axera-ephy,led-polarity = <EPHY_LED_LOW_ACTIVE>;
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy0: axera-ephy@1 {
			device_tpye = "ethernet-phy";
			compatible = "ethernet-phy-id0044.1400";
			reg = <1>;
		};
	};
};
#endif

&ddr_dfs {
       status = "okay";
};

&ive {
	status = "okay";
};

&vdec {
	status = "okay";
};

&venc {
	status = "okay";
};

&jenc {
	status = "okay";
};

&tdp {
	status = "okay";
};

&gdc {
	status = "okay";
};

&vpp {
	status = "okay";
};

&axera_rtc_pwr {
        status = "disabled";
};

&hwinfo {
	status = "okay";
};

&drm0 {
	status = "okay";
};

&drm1 {
	status = "disable";
};

&crtc0 {
	status = "okay";
};

&crtc1 {
	status = "disable";
};

&vo0 {
	status = "okay";
};

&vo1 {
	status = "disable";
};

&bt_dpi0 {
	status = "okay";
};

&bt_dpi1 {
	status = "disable";
};

&dsi {
	status = "okay";
};

&dma {
	status = "okay";
};

&dma_per {
	status = "okay";
};

&dmac {
	status = "okay";
};

&ax_perf_bm {
	status = "okay";
};

&ax_firewall {
	status = "okay";
};

&panel_dsi {
	status = "okay";
	prepare-delay-ms = <0>;
	unprepare-delay-ms = <0>;
	enable-delay-ms = <0>;
	disable-delay-ms = <150>;
	reset-gpio = <&ax_gpio0 23 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd_pwr_en_gpio0_a23_pins>;

	dsi,format = <MIPI_DSI_FMT_RGB888>;
	dsi,lanes = <2>;
	dsi,flags = <(MIPI_DSI_MODE_VIDEO_SYNC_PULSE | MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_LPM |MIPI_DSI_CLOCK_NON_CONTINUOUS )>;
	panel-init-seq = [39 3c 06 ff 77 01 00 00 13
			15 00 02 ef 08
			39 00 06 ff 77 01 00 00 10
			39 00 03 c0 4f 00
			39 00 03 c1 10 0c
			39 00 03 c2 01 14
			15 00 02 cc 10
			39 00 11 b0 00 0b 13 0d 10 07 02 08 07 1f 04 11 0f 28 2f 1f
			39 00 11 b1 00 0c 13 0c 10 05 02 08 08 1e 05 13 11 27 30 1f
			39 00 06 ff 77 01 00 00 11
			15 00 02 b0 4d
			15 00 02 b1 6a
			15 00 02 b2 87
			15 00 02 b3 80
			15 00 02 b5 45
			15 00 02 b7 85
			15 00 02 b8 20
			15 00 02 c1 78
			15 00 02 c2 78
			15 64 02 d0 88
			39 00 04 e0 00 00 02
			39 00 0c e1 04 b0 06 b0 05 b0 07 b0 00 44 44
			39 00 0d e2 20 20 44 44 96 a0 00 00 96 a0 00 00
			39 00 05 e3 00 00 22 22
			39 00 03 e4 44 44
			39 00 11 e5 0c 90 b0 a0 0e 92 b0 a0 08 8c b0 a0 0a 8e b0 a0
			39 00 05 e6 00 00 22 22
			39 00 03 e7 44 44
			39 00 11 e8 0d 91 b0 a0 0f 93 b0 a0 09 8d b0 a0 0b 8f b0 a0
			39 00 03 e9 36 00
			39 00 08 eb 00 00 e4 e4 44 88 40
			39 00 11 ed f1 b2 ac 0f 67 45 ff ff ff ff 54 76 f0 ca 2b 1f
			39 00 07 ef 10 0d 04 08 3f 1f
			39 00 06 ff 77 01 00 00 13
			39 00 03 e8 00 0e
			39 00 06 ff 77 01 00 00 00
			05 78 01 11
			39 00 06 ff 77 01 00 00 13
			39 0A 04 11 e8 00 0c
			39 00 03 e8 00 00
			39 00 06 ff 77 01 00 00 00
			15 00 02 36 10
			05 14 01 29];
	panel-exit-seq = [05 00 01 10];
	dsi-panel_esd_check_enable = /bits/ 8 <0>;
	dsi-panel-check-mode = /bits/ 8 <0>;
	dsi-panel-read-reg = /bits/ 8 <0x0A>;
	dsi-panel-read-length = /bits/ 8 <1>;
	dsi-panel-max-error-count = /bits/ 8 <3>;
	dsi-panel-status-value = /bits/ 8 <0x9D>;
	dsi-panel-check-interval-ms = <2000>;
};

&panel0 {
	status = "disable";
};

&panel1 {
	status = "disable";
};

&lvdstx {
	status = "disable";
};

&panel_lvds {
	status = "disable";
	data-mapping = "vesa-24";
};